<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-muzik"
    version="0.0.3">
    
    <name>Muzik</name>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
	<js-module src="www/muzik.js" name="Muzik">
		<clobbers target="muzik" />
	</js-module>
	
	<!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="MuzikPlugin">
                <param name="android-package" value="com.muzik.androidplugin.MuzikPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.BLUETOOTH" />
		</config-file>
        
        <source-file src="src/android/MuzikPlugin.java" target-dir="src/com/muzik/androidplugin" />
        <source-file src="src/android/MzConnectionStateBridge.java" target-dir="src/com/muzik/androidplugin" />
        <source-file src="src/android/SerialNumberBridge.java" target-dir="src/com/muzik/androidplugin" />
        <source-file src="src/android/FirmwareVersionBridge.java" target-dir="src/com/muzik/androidplugin" />
        <source-file src="src/android/HardwareVersionBridge.java" target-dir="src/com/muzik/androidplugin" />
        <source-file src="src/android/ManufacturerBridge.java" target-dir="src/com/muzik/androidplugin" />
        <source-file src="src/android/GestureBridge.java" target-dir="src/com/muzik/androidplugin" />
        <source-file src="src/android/BluetoothLocalNameBridge.java" target-dir="src/com/muzik/androidplugin" />
        <source-file src="src/android/MspVersionBridge.java" target-dir="src/com/muzik/androidplugin" />
        <source-file src="src/android/BatteryLevelBridge.java" target-dir="src/com/muzik/androidplugin" />
        <source-file src="src/android/ChargeStatusBridge.java" target-dir="src/com/muzik/androidplugin" />
        <source-file src="src/android/AccelerometerBridge.java" target-dir="src/com/muzik/androidplugin" />
        <source-file src="src/android/AutoPlayBridge.java" target-dir="src/com/muzik/androidplugin" />
        <source-file src="src/android/MotionBridge.java" target-dir="src/com/muzik/androidplugin" />
        <lib-file src="src/android/mza-2.0.2.jar" target-dir="libs" />
        
    </platform>
	
    <!-- iOS -->
    <platform name="ios">
        
        <config-file target="config.xml" parent="/*">
            <feature name="MuzikPlugin">
                <param name="ios-package" value="MuzikPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        
        <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
            <array>
                <string>com.newpotato.muzik</string>
            </array>
        </config-file>
        
        <!-- iOS SDK includes -->
        <header-file src="src/ios/include/NptAccessory.h" target-dir="include" />
        <header-file src="src/ios/include/MZAccessory-Prefix.pch" target-dir="include" />
        <header-file src="src/ios/include/MZAccessory.h" target-dir="include" />
        <header-file src="src/ios/include/MZAccelerometerProcessor.h" target-dir="include" />
        <header-file src="src/ios/include/MZAccelerometerRequestManager.h" target-dir="include" />
        <header-file src="src/ios/include/MZAutoPlayProcessor.h" target-dir="include" />
        <header-file src="src/ios/include/MZAutoPlayRequestManager.h" target-dir="include" />
        <header-file src="src/ios/include/MZBatteryLevelProcessor.h" target-dir="include" />
        <header-file src="src/ios/include/MZBatteryLevelRequestManager.h" target-dir="include" />
        <header-file src="src/ios/include/MZBluetoothServer.h" target-dir="include" />
        <header-file src="src/ios/include/MZChargeStatusProcessor.h" target-dir="include" />
        <header-file src="src/ios/include/MZChargeStatusRequestManager.h" target-dir="include" />
        <header-file src="src/ios/include/MZConnectionStateManager.h" target-dir="include" />
        <header-file src="src/ios/include/MZBluetoothLocalNameProcessor.h" target-dir="include" />
        <header-file src="src/ios/include/MZBluetoothLocalNameManager.h" target-dir="include" />
        <header-file src="src/ios/include/MZSerialNumberProcessor.h" target-dir="include" />
        <header-file src="src/ios/include/MZSerialNumberRequestManager.h" target-dir="include" />
        <header-file src="src/ios/include/MZGesture.h" target-dir="include" />
        <header-file src="src/ios/include/MZGestureProcessor.h" target-dir="include" />
        <header-file src="src/ios/include/MZGestureRequestManager.h" target-dir="include" />
        <header-file src="src/ios/include/MZMspVersionProcessor.h" target-dir="include" />
        <header-file src="src/ios/include/MZMspVersionRequestManager.h" target-dir="include" />
        <header-file src="src/ios/include/MZPacket.h" target-dir="include" />
        <header-file src="src/ios/include/MZPacketBuilder.h" target-dir="include" />
        <header-file src="src/ios/include/MZPacketDefines.h" target-dir="include" />
        <header-file src="src/ios/include/MZPacketFactory.h" target-dir="include" />
        <header-file src="src/ios/include/MZProcessorDelegate.h" target-dir="include" />
        <header-file src="src/ios/include/MZConnectionState.h" target-dir="include" />
        
        <!-- Motion -->
        <header-file src="src/ios/include/MZAccelerometerBuffer.h" target-dir="include" />
        <header-file src="src/ios/include/MZDefaultMotion.h" target-dir="include" />
        <header-file src="src/ios/include/MZMotionAnalyzer.h" target-dir="include" />
        <header-file src="src/ios/include/MZMotion.h" target-dir="include" />
        
        <!-- iOS Cordova Plugin includes -->
        <header-file src="src/ios/src/MuzikPlugin.h" target-dir="src" />
        <header-file src="src/ios/src/Queue.h" target-dir="src" />
        <header-file src="src/ios/src/ConnectionStateBridge.h" target-dir="src" />
        <header-file src="src/ios/src/BluetoothLocalNameBridge.h" target-dir="src" />
        <header-file src="src/ios/src/GestureBridge.h" target-dir="src" />
        <header-file src="src/ios/src/AccelerometerBridge.h" target-dir="src" />
        <header-file src="src/ios/src/BatteryLevelBridge.h" target-dir="src" />
        <header-file src="src/ios/src/AutoPlayBridge.h" target-dir="src" />
        <header-file src="src/ios/src/ChargeStatusBridge.h" target-dir="src" />
        <header-file src="src/ios/src/SerialNumberBridge.h" target-dir="src" />
        <header-file src="src/ios/src/MspVersionBridge.h" target-dir="src" />
        <header-file src="src/ios/src/MotionBridge.h" target-dir="src" />
                
        <!-- iOS Cordova Plugin sources -->
        <source-file src="src/ios/src/Queue.m" target-dir="src" />
        <source-file src="src/ios/src/MuzikPlugin.m" target-dir="src" />
        <source-file src="src/ios/src/ConnectionStateBridge.m" target-dir="src" />
        <source-file src="src/ios/src/BluetoothLocalNameBridge.m" target-dir="src" />
        <source-file src="src/ios/src/GestureBridge.m" target-dir="src" />
        <source-file src="src/ios/src/AccelerometerBridge.m" target-dir="src" />
        <source-file src="src/ios/src/BatteryLevelBridge.m" target-dir="src" />
        <source-file src="src/ios/src/AutoPlayBridge.m" target-dir="src" />
        <source-file src="src/ios/src/ChargeStatusBridge.m" target-dir="src" />
        <source-file src="src/ios/src/SerialNumberBridge.m" target-dir="src" />
        <source-file src="src/ios/src/MspVersionBridge.m" target-dir="src" />
        <source-file src="src/ios/src/MotionBridge.m" target-dir="src" />
        
        <!-- iOS SDK lib -->
        <source-file src="src/ios/libs/libMZAccessory.a" framework="true" target-dir="libs" />
        <framework src="ExternalAccessory.framework" />
        
    </platform>

</plugin>
