# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln

# Build
bin
obj
*.nupkg
*.vssscc
*.suo
*tfs.bat

# Visual Studio 2015 cache/options directory
.vs/

#iOS Directory Files
*.DS_Store

# Node
npm-debug.log
/node_modules

# Cordova
/platforms
/plugins

# Bower
/www/lib
/www/css/app.css
/www/css/app.min.css
